.not-found-page {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found-page-body {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not-found-heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-weight: 500;
}
.not-found-description {
  color: #b6c5ff;
  font-family: 'Roboto';
  margin-top: 0px;
  text-align: center;
}

@media screen and (max-width:767px){
    .not-found-heading{
        font-size: 16px;
    }
    .not-found-description{
        font-size: 12px;
        width: 70%;
    }
}
