.login-page-bg {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  background-color: #272727;
  width: 85%;
  max-width: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 35px;
}

.website-logo {
  width: 80px;
}

.login-form {
  width: 80%;
  margin-top: 35px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}
.input-label {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 11px;
  margin-bottom: 8px;
}
.input-field {
  background-color: transparent;
  border: 1px solid #475569;
  outline: none;
  border-radius: 4px;
  padding: 7px;
  padding-left: 13px;
  color: #b6c5ff;
  font-family: 'Roboto';
  font-size: 15px;
}

.login-button {
  background-color: #6366f1;
  width: 100%;
  color: #f8fafc;
  font-family: 'Roboto';
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  outline: none;
  margin-top: 12px;
}
.login-fail-error-msg {
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 13px;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .website-logo {
    width: 160px;
  }
  .input-label {
    font-size: 12px;
  }
  .input-field {
    font-size: 17px;
    padding: 10px;
    padding-left: 17px;
  }
  .login-button {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 18px;
  }
  .login-form{
      margin-top: 65px;
      margin-bottom: 25px;
  }
}
